@{
    ViewData["Title"] = "Gestor de Tarjetas de Credito";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppBanco4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title">Gestor de Tarjetas de Crédito</h1>
                        <p class="card-text">Bienvenido al gestor de tarjetas de crédito de WebAppBanco. Aquí puedes administrar tus tarjetas de manera fácil y segura.</p>
                        <a href="@Url.Action("Index", "Tarjetas")" class="btn btn-primary">Empezar</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

